{% extends 'base.html' %}


{% block content %}

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">citizen id</th>
            <th scope="col">citizen name</th>
        </tr>
        </thead>

        {% for citizen in citizen_list %}
            <tr>
                <td>
                    {{ citizen.citizen_id }}
                </td>
                <td>
                    {{ citizen.citizen_name }}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}