{% extends 'base.html' %}


{% block content %}
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">hotel id</th>
            <th scope="col">hotel name</th>
        </tr>
        </thead>

        {% for hotel in hotel_list %}
            <tr>
                <td>
                    {{ hotel.hotel_id }}
                </td>
                <td>
                    {{ hotel.hotel_name }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}