{% extends 'base.html' %}


{% block content %}

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">guest id</th>
            <th scope="col">guest name</th>
        </tr>
        </thead>

        {% for guest in guest_list %}
            <tr>
                <td>
                    {{ guest.guest_id }}
                </td>
                <td>
                    {{ guest.guest_name }}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}