{% extends 'base.html' %}
{% block title %}{{ name }}{% endblock %}


{% block content %}
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Full name</th>
        </tr>
        </thead>

        {% for teacher in teacher_list %}
            <tr>
                <td>
                    {{ teacher.teacher_id }}
                </td>
                <td>
                    {{ teacher.teacher_name }}
                </td>
            </tr>
        {% endfor %}
{% endblock %}